*{
    background-color:  #1a2223;
    color: white;
    font-family: Arial, sans-serif;
}
#root {
    text-align: center;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    font-size: 2em;
    border-radius:10px;
    border: 2px solid none;
    padding: 20px;
    width:450px;
    align-items: center;
    background-color: rgb(32, 35, 67);
}
.calculator {
    display: block;
    grid-template-columns: repeat(4, 1fr);
    margin-top:2%;
    width: 450px;
    height: 490px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #282c34;
    box-shadow: 0 4px 8px rgba(155, 143, 143, 0.2);
}
#display{
      width: 430px;
      height: 50px;
      text-align: right;
      font-size: 20px;
      color:white;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    .buttons button {
      width: 90px;
      height: 50px;
      margin:10px;
      font-size: 18px;
      border: none;
      border-radius: 90px;
      background: black;
      cursor: pointer;
    }
    .buttons button:hover {
      background: #0e4e46;
      cursor: pointer;
    }
    .buttons {
      display: inline-grid;
      grid-template-columns: repeat(4, 1fr);
      width:450px;
      height:400px;
      margin-top:32px;
      margin-bottom:0px;
      margin-right:5px;
      border-radius: 10px;
    }